@import '../../../../assets/styles/_global';

.students_detail_list {
    height: 100%;
    background: $white;
    padding: 15px 20px;
    @include cardBoxShadow();

    h2 {
        margin-bottom: 35px;
        @include titleH2();


    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: grid;
            padding: 15px 10px;
            grid-template-columns: 1fr 2fr 2fr;


            &:first-child {
                font-weight: 600;
            }

            &:nth-child(even) {
                background: $gray_light_2;
            }

            span,
            a {
                text-decoration: none;
                color: $dark_blue;
            }
        }
    }
}