@import "../../../../../assets/styles/_global";

.payment_history {
  background: $white;
  padding: 15px 20px;
  border-radius: 12px;
  @include dialogShadow();

  h2 {
    margin-bottom: 35px;
    @include titleH2();
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      gap: 10px;
      padding: 20px 10px;

      span.date {
        font-size: 14px;
        font-weight: 500;
      }

      span.qauntity {
        color: $blue;
        font-weight: 500;
      }

      &:nth-child(even) {
        background: $gray_light_2;
      }

      &:first-child {
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: $mobileScreen) {
    padding: 10px 15px;

    h2 {
      margin-bottom: 15px;
      @include titleH2();
      font-size: 25px;
    }

    ul {
      li {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 5px;

        span {
          font-size: 13px;
          margin-bottom: 6px;
        }

        span.date {
          font-size: 12px;
        }

        span.qauntity {
          font-size: 14px;
        }

        // & span:last-child {
        //   display: none;
        // }
      }
    }
  }
}
