@import '../../../../assets/styles/_global';

.teacher_groups {
    background: $white;
    padding: 15px 20px;
    @include cardBoxShadow();

    h2 {
        margin-bottom: 35px;
        @include titleH2();
    }

    .groups_list {
        display: flex;
        flex-direction: column;
        align-items: start;

        .group_item {
            width: 100%;
            padding: 20px 0px;
            border-bottom: 1px solid $gray_2;

            &:last-child {
                border: none;
            }

            h3 {
                margin-bottom: 15px;
                @include titleH4();
            }

            ul {

                li {
                    padding: 15px 10px;
                    display: grid;
                    grid-template-columns: 1fr 2fr 2fr;

                    &:first-child {
                        font-weight: 600;
                    }

                    &:nth-child(even) {
                        background: $gray_light_2;
                    }

                    span,
                    a {
                        text-decoration: none;
                        color: $dark_blue;
                    }
                }
            }
        }
    }
}