@import "../../../../assets/styles/_global";

.groups_list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .list_body {
    flex: 1;

    .list_table {
      @include dialogShadow;
    }
  }

  @include CardList();
}
