@import "../../../assets/styles/_global";

.group_form {
  .form_box {
    padding: 20px 30px;
    border-radius: 12px;
    @include dialogShadow();

    .input_form {
      width: 65%;
      margin-bottom: 25px;

      input {
        @include input;
      }

      select {
        @include select;
      }
    }

    .submit_form {
      input {
        cursor: pointer;
        @include solidButton;
      }
    }
  }
}
