@import "../../../assets/styles/_global";

.teacher_form {
  .form_head {
    display: flex;
    align-items: center;

    h1 {
      @include titleH1;
      margin-bottom: 32px;
    }
  }

  .form_box {
    padding: 20px 30px;
    border-radius: 12px;
    @include dialogShadow();

    .input_form {
      width: 65%;
      margin-bottom: 25px;

      input {
        @include input;
      }
    }

    .submit_form {
      input {
        cursor: pointer;
        @include solidButton;
      }
    }
  }
}
