@import "../../../../../assets/styles/_global";

.group_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include dialogShadow();

  .info_left {
    padding-right: 20px;
    border-right: 1px solid #ccc;

    h4.info_text {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      color: #030235;
      font-weight: 600;
      margin-bottom: 20px;

      p {
        font-weight: 400;
        margin-top: 5px;
      }
    }

    .date {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      align-items: center;
      margin-bottom: 30px;

      .card {
        display: flex;
        justify-content: center;
        padding: 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        @include dialogShadow;

        &:hover {
          background: rgba($color: #000000, $alpha: 0.1);
        }

        p {
          display: flex;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #030235;

          span {
            font-weight: 500;
          }
        }
      }
    }

    form.day_form {
      width: 80%;

      h4 {
        margin-bottom: 10px;
        @include titleH4;
      }

      ul {
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        border-radius: 14px;
        @include dialogShadow;

        li {
          border-bottom: 1px solid #ccc;
          display: flex;
          align-items: center;
          font-size: 16px;
          cursor: pointer;

          span {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 4px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $green;
          }

          &:hover {
            background: rgba($color: #000000, $alpha: 0.05);
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .form_info {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;

        p {
          font-size: 18px;
          color: $dark_blue;
          padding-right: 15px;
          border-right: 2px solid #ccc;

          span {
            font-weight: 500;
          }

          &:last-child {
            border: none;
            margin-left: 15px;
          }
        }
      }

      .submit_form {
        display: flex;
        align-items: center;

        button {
          border: none;
          border-radius: 8px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          background: $dark_blue;
          color: $white;
          margin-right: 25px;

          &:last-child {
            background: $mid_pink;

            &:hover {
              background: $pink;
            }
          }
        }
      }
    }

    form.time_form {
      width: 80%;

      .time_inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-bottom: 50px;

        .input_form {
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            margin-bottom: 10px;
            @include titleH4;
          }

          input {
            @include input;
            font-size: 20px;
          }
        }
      }

      .submit_form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        button {
          border: none;
          border-radius: 8px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          background: $dark_blue;
          color: $white;

          &:last-child {
            background: $mid_pink;

            &:hover {
              background: $pink;
            }
          }
        }
      }
    }
  }

  .info_right {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .info_card {
      display: flex;
      flex-direction: column;
      padding: 15px 5px;
      margin-bottom: 30px;
      border-radius: 8px;
      @include dialogShadow;

      .card_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed #666;
        padding: 5px 5px 15px;

        .card_icon {
          font-size: 24px;
          display: flex;
          align-items: center;
          margin-left: 10px;
          color: $dark_blue;
        }

        h3 {
          @include titleH3;
          font-size: 20px;
          color: $dark_blue;
        }
      }

      p {
        font-size: 17px;
        padding: 20px 15px;
      }

      .card_footer {
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto -5px -15px;
          border: none;
          background: none;
          font-size: 24px;
          padding: 10px 20px;
          border-radius: 0 0 8px 8px;
          cursor: pointer;
          transition: 0.13s;

          &:hover {
            background: rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }

    .alternate_card {
      display: flex;
      align-items: center;
      padding: 15px 10px;
      margin-bottom: 45px;
      border: 1.5px dashed #ccc;
      border-radius: 8px;
      transition: all 0.2s;
      cursor: pointer;

      .card_head {
        padding: 10px 15px;
        font-size: 25px;
        color: $dark_blue;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card_content {
        color: $dark_blue;

        h3 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
        }
      }

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
  }

  form.teacher_form,
  form.course_form {
    width: 80%;

    h4 {
      margin-bottom: 10px;
      @include titleH4;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 15px 15px;
      border-radius: 14px;
      margin-bottom: 40px;
      @include dialogShadow;

      li {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 0;

        span {
          display: block;
          width: 50px;
          height: 50px;
          margin: 0 4px;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $blue;
        }

        &:hover {
          background: rgba($color: #000000, $alpha: 0.05);
        }

        &:last-child {
          border-bottom: none;
        }

        .item_content {
          display: flex;
          flex-direction: column;

          p {
            font-size: 18px;
            color: $dark_blue;
            font-weight: 400;
            margin-bottom: 10px;
          }

          h5 {
            font-size: 16px;
            color: $dark_blue;
            font-weight: 500;
          }
        }
      }

      li.no-elem {
        span {
          color: $red;
        }

        p,
        h5 {
          color: $red;
        }
      }
    }

    .submit_form {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      button {
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: $dark_blue;
        color: $white;
        margin-right: 25px;

        &:last-child {
          background: $mid_pink;

          &:hover {
            background: $pink;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobileScreen) {
    grid-template-columns: 1fr;

    .info_left {
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding: 0;
      padding-bottom: 15px;

      .info_buttons {
        margin-top: auto;
        @include controlButtons();
      }

      .date {
        .card {
          border-radius: 6px;
          padding: 10px;

          p {
            font-size: 14px;
          }
        }
      }

      form.day_form {
        width: 100%;

        .form_info {
          p {
            font-size: 15px;
          }
        }

        .submit_form {
          margin-bottom: 25px;
        }
      }

      form.time_form {
        width: 100%;

        .time_inputs {
          flex-wrap: wrap;
          gap: 25px;
        }

        .submit_form {
          margin-bottom: 25px;
        }
      }
    }

    .info_right {
      padding: 0;
      padding-top: 15px;

      .info_card .card_head h3 {
        font-size: 18px;
      }
    }

    form.teacher_form,
    form.course_form {
      width: 100%;
    }
  }
}
