@import "../../../../../assets/styles/_global";

.student_info {
  height: 100%;
  background: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 20px;
  border-radius: 12px;
  @include dialogShadow();

  .info_left {
    padding-right: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;

    h2.student_name {
      margin-bottom: 35px;
      @include titleH2();
    }

    p.student_phone,
    p.student_group,
    p.student_teacher,
    h4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include headline();
      font-weight: 600;
      margin-bottom: 20px;

      span {
        font-weight: 400;
        font-size: 16px;
      }

      button {
        background: rgba($color: #000000, $alpha: 0.2);
        border: none;
        padding: 10px 15px;
        border-radius: 6px;
        cursor: pointer;
      }
    }

    .info_buttons {
      margin-top: auto;
      @include controlButtons();
    }
  }

  .info_right {
    padding-left: 20px;

    .info_card {
      display: flex;
      flex-direction: column;

      .card_item {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          span,
          a {
            font-weight: 600;
            text-decoration: none;
            color: $text;
            transition: 0.1s;
          }

          a:hover {
            color: $gray_3;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .card_footer {
        padding-top: 15px;

        button {
          width: 100%;
          padding: 10px 30px;
          font-size: 24px;
          border-radius: 8px;
          border: none;
          background: none;
          cursor: pointer;
          color: $text;
          transition: all 0.2s;
          border: 1px solid #ccc;
          box-shadow: $cardShadow;

          &:hover {
            box-shadow: 3px 3px 15px #ccc;
          }
        }
      }
    }

    .add_group {
      display: flex;
      align-items: center;
      border: 1px dashed #ccc;
      border-radius: 15px;
      box-shadow: 0 0 15px 3px #eee;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.05);
      }

      .add_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: $dark_blue;
        border-right: 1px solid #ccc;
        padding: 20px 15px;
      }

      .add_content {
        display: flex;
        flex-direction: column;
        padding: 15px;

        h3 {
          margin-bottom: 10px;
          @include titleH3;
          font-size: 22px;
        }

        p {
          font-size: 16px;
          color: $dark_blue;
        }
      }
    }
  }

  form.payment_form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .input_form {
      width: 100%;
      margin-bottom: 30px;

      label {
        display: block;
        font-size: 16px;
        color: $dark_blue;
        margin-left: 5px;
        margin-bottom: 8px;
      }

      input {
        @include input;
      }

      .input_select {
        @include select;
      }

      textarea {
        resize: vertical;
        @include input;
      }
    }

    .submit_form {
      display: flex;
      justify-self: flex-end;
      justify-content: center;
      margin-top: auto;
      margin-bottom: 25px;

      button {
        cursor: pointer;
        @include solidButton;
        margin-bottom: 30px;
      }
    }
  }

  form.group_add {
    width: 85%;
    display: flex;
    flex-direction: column;

    h4 {
      margin-bottom: 10px;
      @include titleH4;
    }

    .groups_list {
      flex: 1;
      margin-bottom: 40px;

      ul {
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        border-radius: 14px;
        @include dialogShadow;

        li.list_item {
          border-bottom: 1px solid #ccc;
          display: flex;
          align-items: center;
          font-size: 16px;
          padding: 15px 0;
          cursor: pointer;

          span.item_icon {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 20px;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue;
          }

          .item_content {
            display: flex;
            flex-direction: column;
            flex: 1;

            h5 {
              font-size: 16px;
              color: $dark_blue;
              margin-bottom: 5px;
              font-weight: 600;
            }

            .content_body {
              display: flex;
              flex-direction: column;
              font-size: 15px;
              color: $dark_blue;

              p {
                line-height: 22px;
                font-weight: 400;

                span {
                  font-weight: 500;
                }
              }
            }
          }

          &:hover {
            background: rgba($color: #000000, $alpha: 0.05);
          }

          &:last-child {
            border-bottom: none;
          }
        }

        li.leave_item {
          padding: 15px 0;

          span.item_icon {
            color: $red;
          }

          .item_content h5 {
            color: $red;
            margin-bottom: 0;
            font-size: 20px;
          }
        }
      }
    }

    .warning {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $yellow;
      margin-bottom: 20px;

      .warning_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin-right: 10px;
      }

      .warning_content {
        font-size: 18px;
      }
    }

    .form_info {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 25px;

      p {
        font-size: 18px;
        color: $dark_blue;
        padding-right: 15px;
        border-right: 2px solid #ccc;

        span {
          font-weight: 500;
        }

        &:last-child {
          border: none;
          margin-left: 15px;
        }
      }
    }

    .submit_form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;
      padding-bottom: 30px;

      button {
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: $dark_blue;
        color: $white;
        margin-right: 25px;

        &:last-child {
          background: $mid_pink;

          &:hover {
            background: $pink;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobileScreen) {
    grid-template-columns: 1fr;

    .info_left {
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding: 0;
      padding-bottom: 15px;

      .info_buttons {
        margin-top: auto;
        @include controlButtons();
      }

      h2.student_name {
        font-size: 25px;
      }
    }

    .info_right {
      padding: 0;
      padding-top: 15px;
    }

    form.payment_form,
    form.group_add {
      height: auto;
      width: 100%;
    }

    form.group_add {
      .groups_list ul li.list_item {
        padding: 8px 0;

        span.item_icon {
          width: 25px;
          height: 25px;
          margin: 0 10px;
        }
      }
    }
  }
}
