@import "../../../assets/styles/_global";

.student_form {
  .form_box {
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: $cardShadow;
    background: $white;

    .input_form {
      width: 65%;
      margin-bottom: 25px;

      label {
        display: block;
        font-size: 16px;
        color: $dark_blue;
        margin-left: 5px;
        margin-bottom: 8px;
      }

      input {
        @include input;
      }

      textarea {
        resize: vertical;
        @include input;
      }
    }

    .submit_form {
      input {
        cursor: pointer;
        @include solidButton;
      }
    }
  }
}
