@import "../../../../../assets/styles/_global";

.students_detail_list {
  height: 100%;
  background: $white;
  padding: 15px 20px;
  @include cardBoxShadow();

  .list_heaad {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;

    h2 {
      @include titleH2();
    }

    button {
      padding: 10px 15px;
      border: none;
      border-radius: 8px;
      background: $dark_blue;
      color: $white;
      font-size: 16px;
      cursor: pointer;
    }
  }

  table.students_table {
    width: 100%;
    gap: 0;

    thead tr {
      text-align: left;

      th {
        font-weight: 500;
        font-size: 16px;
        padding: 8px;
      }
    }

    tbody {
      tr {
        position: relative;

        td {
          padding: 8px;

          a {
            color: $dark_blue;
            font-size: 16px;
            text-decoration: none;
            transition: 0.1s;

            &:hover {
              color: #ccc;
            }
          }
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
          background: #ccc;
        }
      }

      .remove_column {
        text-align: right;

        button {
          padding: 7px;
          line-height: 0;
          font-size: 18px;
          border: none;
          background: none;
          color: $red;
          cursor: pointer;
          border-radius: 3px;
          transition: 0.1s;

          &:hover {
            background: rgba($color: $mid_pink, $alpha: 0.5);
          }
        }
      }
    }
  }

  form.students_form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .form_head {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 10px;

      h4 {
        @include titleH4;
      }

      input {
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 15px;
        outline: none;
        color: $dark_blue;
      }
    }
    .students_list {
      flex: 1;

      ul {
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        border-radius: 14px;
        margin-bottom: 45px;
        @include dialogShadow;

        li {
          border-bottom: 1px solid #ccc;
          display: flex;
          align-items: center;
          padding: 10px 5px;
          font-size: 16px;
          cursor: pointer;

          span {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 4px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue;
          }

          .item_content {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              font-size: 18px;
              font-weight: 400;
              color: $dark_blue;
            }

            h5 {
              font-size: 16px;
              font-weight: 500;
              color: $dark_blue;
            }
          }

          &:hover {
            background: rgba($color: #000000, $alpha: 0.05);
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    .form_info {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 25px;

      p {
        font-size: 18px;
        color: $dark_blue;
        padding-right: 15px;
        border-right: 2px solid #ccc;

        span {
          font-weight: 500;
        }

        &:last-child {
          border: none;
          margin-left: 15px;
        }
      }
    }

    .submit_form {
      display: flex;
      align-items: center;
      margin-bottom: 35px;

      button {
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: $dark_blue;
        color: $white;
        margin-right: 25px;

        &:last-child {
          background: $mid_pink;

          &:hover {
            background: $pink;
          }
        }
      }
    }
  }

  form.delete_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 35px;
      color: $dark_blue;
      text-align: center;

      span {
        color: $red;
      }
    }

    .submit_form {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      gap: 30px;

      button {
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: $red;
        color: $white;
        transition: 0.2s;

        &:last-child {
          background: $dark_blue;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
