@import "../../../../../assets/styles/_global";

.teacher_groups {
  background: $white;
  padding: 15px 20px;
  @include cardBoxShadow();

  h2 {
    margin-bottom: 35px;
    @include titleH2();
  }

  .groups_list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px 0;

    .group_item {
      width: 100%;
      padding: 15px 20px;
      border-radius: 16px;
      @include dialogShadow;

      h3 {
        margin-bottom: 15px;
        @include titleH4();

        span {
          font-weight: 400;
          text-transform: none;
          font-size: 15px;

          a {
            color: $dark_blue;
            text-decoration: none;
            transition: 0.1s;

            &:hover {
              color: $gray_3;
            }
          }
        }
      }

      ul {
        li {
          padding: 15px 10px;
          display: grid;
          grid-template-columns: 2fr 2fr 1fr 0.5fr;
          border-bottom: 1px solid #ccc;

          &:first-child {
            font-weight: 600;
          }

          &:last-child {
            border-bottom: none;
          }

          span {
            text-decoration: none;
            color: $dark_blue;

            &:last-child {
              text-align: right;
            }
          }

          a {
            text-decoration: none;
            color: $dark_blue;
            transition: all 0.1s;
            font-weight: 500;

            &:hover {
              color: $gray_3;
            }
          }

          button {
            padding: 7px;
            line-height: 0;
            font-size: 18px;
            border: none;
            background: none;
            color: $red;
            cursor: pointer;
            border-radius: 3px;
            transition: 0.1s;

            &:hover {
              background: rgba($color: $mid_pink, $alpha: 0.5);
            }
          }
        }
      }
    }

    .empty_groups {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 0;

      p {
        font-size: 18px;
        font-weight: 500;
        color: $dark_blue;
      }
    }
  }

  form.delete_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 35px;
      color: $dark_blue;
      text-align: center;

      span {
        color: $red;
      }
    }

    .submit_form {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      gap: 30px;

      button {
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: $red;
        color: $white;
        transition: 0.2s;

        &:last-child {
          background: $dark_blue;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
