@import "../assets/styles/_global";

.layout {
  height: 100vh;

  .sidebar_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 600;
    background: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(3px);
    backdrop-filter: -webkit-blur(3px);

    &.open {
      display: block;
    }
  }

  .layout_container {
    height: 100%;
    display: grid;
    grid-template-columns: 276px 1fr;

    .sidebar {
      padding: 18px;
      width: 100%;
      height: 100%;
      background: rgba($color: $dark_blue-2, $alpha: 0.8);
    }

    .layout_content {
      overflow-y: scroll;
      background: #fafafb;
      display: flex;
      flex-direction: column;

      nav {
        position: sticky;
        z-index: 500;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 32px;
        background: rgba($color: $white, $alpha: 0.3);
        backdrop-filter: blur(10px);
        backdrop-filter: -webkit-blur(10px);
        box-shadow: 0px 24px 38px rgba(47, 53, 57, 0.03),
          0px 9px 46px rgba(71, 116, 138, 0.02),
          0px 11px 15px rgba(95, 137, 158, 0.04);

        .sidebar_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          padding: 5px 10px;
          cursor: pointer;
          display: none;
        }

        .search {
          button {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px 25px;
            background: rgba($color: $white, $alpha: 0.3);
            border: 2px solid rgba($color: $light_dark_2, $alpha: 0.6);
            border-radius: 12px;
            color: $dark_blue;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            cursor: pointer;
          }
        }

        .payment_history {
          border: none;
          border-radius: 50%;
          margin-right: 20px;
          box-shadow: $dropdownShadow;
          font-size: 23px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          cursor: pointer;
          background: $gray;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(33, 43, 54);
          }
        }

        .account {
          .user_icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $gray;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $dropdownShadow;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: rgb(33, 43, 54);
            cursor: pointer;
            border: none;
            position: relative;

            .account_dropdown {
              position: absolute;
              height: 0;
              right: 0;
              padding: 0;
              overflow: hidden;
              border-radius: 4px;
              top: calc(100% + 15px);
              box-shadow: $dropdownShadow;
              background: rgba($color: $white, $alpha: 1);
              backdrop-filter: blur(4px);
              backdrop-filter: -webkit-blur(4px);
              transition: all 0.2s;

              ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: transparent;

                li {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  padding: 6px 12px;
                  font-size: 16px;
                  transition: 0.1s all;
                  margin-bottom: 4px;

                  pre {
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                  }

                  span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 17px;
                    margin-right: 4px;
                  }

                  &:last-child:hover {
                    color: $red;
                  }
                }
              }
            }

            &:focus-within .account_dropdown {
              height: auto;
              padding: 5px;
            }
          }
        }
      }

      main {
        padding: 16px;
        flex: 1;
      }
    }
  }

  .sidebar,
  .mobile_sidebar {
    overflow-y: auto;


    ul {

      li {
        padding: 10px 5px;
        margin-bottom: 10px;

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: $gray;
          text-decoration: none;

          span {
            color: $light_dark_2;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
          }
        }

        .logo {
          color: $white;
          font-size: 28px;

          a {
            font-size: 28px;
            font-weight: 500;
            font-weight: 600;
            background: -webkit-linear-gradient(0deg, #00b8d9, #8e33ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            span {
              font-size: 42px;
              color: $light_dark_2;
              margin: 0;
              color: #00b8d9;
            }
          }
        }
      }
    }
  }

  .mobile_sidebar {
    display: none;
    position: fixed;
    z-index: 900;
    width: 276px;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s all ease-out;
    padding: 15px;
    backdrop-filter: blur(4px);
    backdrop-filter: -webkit-blur(4px);
    background: rgba($color: $dark_blue-2, $alpha: 0.8);

    .close_icon {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;

      button {
        background: none;
        border: none;
        padding: 5px;
        font-size: 25px;
        cursor: pointer;

        * {
          stroke: $white;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .layout_container {
      grid-template-columns: 0px 1fr;
    }

    .mobile_sidebar {
      display: block;
      left: -300px;

      &.open {
        left: 0;
      }
    }

    .layout_container .layout_content nav .sidebar_icon {
      display: flex;
    }
  }

  @media only screen and (max-width: 600px) {
    .layout_container {
      .layout_content {
        nav {
          padding: 8px 16px;

          .sidebar_icon {
            padding: 5px 5px;
            font-size: 25px;
          }

          .search input {
            padding: 10px 15px;
            margin-right: 5px;
          }
        }
      }
    }

    .mobile_sidebar .close_icon {
      margin: 0;

      button {
        font-size: 20px;
      }
    }
  }
}

.message_alert {
  position: fixed;
  z-index: 550;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  top: -50px;

  &.open {
    top: 15px;
  }

  .alert_icon {
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .alert_message {
    font-size: 18px;
    text-align: center;
  }

  .alert_close {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.info {
    background: #cafdf5;
    box-shadow: 0px 8px 16px 0px rgba(0, 184, 217, 0.24);

    .alert_icon {
      color: #00b8d9;
    }

    .alert_message {
      color: #003768;
    }

    .alert_close {
      color: #003768;
    }
  }

  &.success {
    background: #d3fcd2;
    box-shadow: 0px 8px 16px 0px rgba(34, 197, 94, 0.24);

    .alert_icon {
      color: #22c55e;
    }

    .alert_message {
      color: #065e49;
    }

    .alert_close {
      color: #065e49;
    }
  }

  &.warning {
    background: #fff5cc;
    box-shadow: 0px 8px 16px 0px rgba(255, 171, 0, 0.24);

    .alert_icon {
      color: #ffab00;
    }

    .alert_message {
      color: #7a4100;
    }

    .alert_close {
      color: #7a4100;
    }
  }

  &.error {
    background: #ffe9d5;
    box-shadow: 0px 8px 16px 0px rgba(255, 86, 48, 0.24);

    .alert_icon {
      color: #ff5630;
    }

    .alert_message {
      color: #7a0916;
    }

    .alert_close {
      color: #7a0916;
    }
  }

  @media screen and (max-width: $mobileScreen) {
    width: 80%;
  }
}
