@import "../assets/styles/_global";

.layout {
  height: 100vh;

  .sidebar_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 600;
    background: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(3px);

    &.open {
      display: block;
    }
  }

  .layout_container {
    height: 100%;
    display: grid;
    grid-template-columns: 276px 1fr;

    .sidebar {
      padding: 18px;
      width: 100%;
      height: 100%;
      background: rgba($color: $dark_blue-2, $alpha: 0.8);
    }

    .layout_content {
      overflow-y: scroll;
      background: #fafafb;
      display: flex;
      flex-direction: column;

      nav {
        position: sticky;
        z-index: 500;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 32px;
        background: rgba($color: $white, $alpha: 0.3);
        backdrop-filter: blur(10px);
        box-shadow: 0px 24px 38px rgba(47, 53, 57, 0.03),
          0px 9px 46px rgba(71, 116, 138, 0.02),
          0px 11px 15px rgba(95, 137, 158, 0.04);

        .sidebar_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          padding: 5px 10px;
          cursor: pointer;
          display: none;
        }

        .search {
          button {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px 25px;
            background: rgba($color: $white, $alpha: 0.3);
            border: 2px solid rgba($color: $light_dark_2, $alpha: 0.6);
            border-radius: 12px;
            color: $dark_blue;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            cursor: pointer;
          }
        }

        .account {
          .user_icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $gray_3;
            display: flex;
            align-items: center;
            justify-content: center;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #6b6e85;
          }
        }
      }

      main {
        padding: 16px;
        flex: 1;
      }
    }
  }

  .sidebar,
  .mobile_sidebar {
    ul {
      li {
        padding: 10px 5px;
        margin-bottom: 10px;

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: $gray;
          text-decoration: none;

          span {
            color: $light_dark_2;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
          }
        }

        .logo {
          color: $white;
          font-size: 28px;

          a {
            font-size: 28px;
            color: $white-2;
            font-weight: 500;

            span {
              font-size: 42px;
              color: $light_dark_2;
              margin: 0;
              color: #00b8d9;
            }
          }
        }
      }
    }
  }

  .mobile_sidebar {
    display: none;
    position: fixed;
    z-index: 900;
    width: 276px;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s all;
    padding: 15px;
    backdrop-filter: blur(4px);
    background: rgba($color: $dark_blue-2, $alpha: 0.8);

    .close_icon {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;

      button {
        background: none;
        border: none;
        padding: 5px;
        font-size: 25px;
        cursor: pointer;

        * {
          stroke: $white;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .layout_container {
      grid-template-columns: 0px 1fr;
    }

    .mobile_sidebar {
      display: block;
      left: -300px;

      &.open {
        left: 0;
      }
    }

    .layout_container .layout_content nav .sidebar_icon {
      display: flex;
    }
  }

  @media only screen and (max-width: 600px) {
    .layout_container {
      .layout_content {
        nav {
          padding: 8px 16px;

          .sidebar_icon {
            padding: 5px 5px;
            font-size: 25px;
          }

          .search input {
            padding: 10px 15px;
            margin-right: 5px;
          }
        }
      }
    }

    .mobile_sidebar .close_icon {
      margin: 0;

      button {
        font-size: 20px;
      }
    }
  }
}

.search_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .content_head {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #ccc;
    margin: 0;
    margin-top: 15px;
    padding-bottom: 5px;

    .head_input {
      width: 100%;
      display: flex;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: $light_dark;
        margin-right: 15px;
      }

      input {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        outline: none;
        color: $light_dark;
      }

      button {
        height: 100%;
        padding: 10px 20px;
        color: $light_dark;
        font-size: 18px;
        background: none;
        border-radius: 0;
        border: none;
        color: $dark_blue;
        font-weight: 500;
        cursor: pointer;
        border-radius: 6px;
        transition: 0.1s all;
        border: 1px solid #eee;
        margin-right: 20px;

        &:hover {
          box-shadow: $cardShadow;
        }
      }
    }
  }

  .content_body {
    padding: 10px 15px;
    height: 100%;

    .empty_body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .empty_box {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          @include titleH3();
          margin-bottom: 20px;
        }

        h4 {
          font-size: 17px;
          margin-bottom: 5px;
          @include titleH4();
        }

        ul {
          margin-left: 16px;
          line-height: 20px;

          li {
            list-style-type: disc !important;
            color: $dark_blue;

            a {
              display: block;
              color: $dark_blue;
              font-size: 16px;
              text-decoration: none;
              transition: all 0.1s;
              line-height: 20px;
              margin-bottom: 6px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .search_list {
      display: flex;
      flex-direction: column;

      h3 {
        @include titleH4();
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 30px;
      }

      ul {
        display: flex;
        flex-direction: column;

        a {
          color: $dark_blue;
          text-decoration: none;

          li {
            display: flex;
            flex-direction: column;
            padding: 6px 15px;
            padding-left: 35px;
            border-top: 1.5px dashed #ccc;
            border-radius: 0 0 8px 8px;
            margin-bottom: 15px;
            transition: 0.1s all;

            .item_head {
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;

              span {
                font-size: 16px;
                font-weight: 400;
              }

              h5 {
                font-size: 15px;
                font-weight: 600;
              }
            }

            p {
              font-size: 16px;
              color: $dark_blue;
            }

            &:hover {
              box-shadow: $dropdownShadow;
            }
          }
        }
      }
    }

    .loader_box {
      height: 100%;

      .loader {
        transform: scale(0.28);
      }
    }
  }

  @media screen and (max-width: $mobileScreen) {
    .content_head {
      padding: 5px;
      margin-top: 15px;

      .head_input {
        span {
          font-size: 20px;
        }

        input {
          padding: 5px 10px;
        }

        button {
          padding: 5px 10px;
        }
      }
    }

    .content_body {
      .search_list {
        h3 {
          font-size: 15px;
          margin-bottom: 5px;
          margin-top: 20px;
        }
      }
    }
  }
}

.message_alert {
  position: fixed;
  z-index: 550;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  top: -50px;

  &.open {
    top: 15px;
  }

  .alert_icon {
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .alert_message {
    font-size: 18px;
    text-align: center;
  }

  .alert_close {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.info {
    background: #cafdf5;
    box-shadow: 0px 8px 16px 0px rgba(0, 184, 217, 0.24);

    .alert_icon {
      color: #00b8d9;
    }

    .alert_message {
      color: #003768;
    }

    .alert_close {
      color: #003768;
    }
  }

  &.success {
    background: #d3fcd2;
    box-shadow: 0px 8px 16px 0px rgba(34, 197, 94, 0.24);

    .alert_icon {
      color: #22c55e;
    }

    .alert_message {
      color: #065e49;
    }

    .alert_close {
      color: #065e49;
    }
  }

  &.warning {
    background: #fff5cc;
    box-shadow: 0px 8px 16px 0px rgba(255, 171, 0, 0.24);

    .alert_icon {
      color: #ffab00;
    }

    .alert_message {
      color: #7a4100;
    }

    .alert_close {
      color: #7a4100;
    }
  }

  &.error {
    background: #ffe9d5;
    box-shadow: 0px 8px 16px 0px rgba(255, 86, 48, 0.24);

    .alert_icon {
      color: #ff5630;
    }

    .alert_message {
      color: #7a0916;
    }

    .alert_close {
      color: #7a0916;
    }
  }

  @media screen and (max-width: $mobileScreen) {
    width: 80%;
  }
}
