@import "../../assets/styles/_global";

.not_found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .notfound_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

    .nav_icon {
      font-size: 22px;
      color: $dark_blue;
      font-weight: 600;
      display: flex;
      align-items: center;

      a {
        font-size: 26px;
        text-decoration: none;
        font-weight: 500;
        color: $dark_blue;
        display: flex;
        align-items: center;

        span {
          font-size: 42px;
          margin: 0;
          color: #00b8d9;
          display: flex;
          align-items: center;
        }
      }
    }

    .nav_stng {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;
      color: $light_dark_2;
    }
  }

  .notfound_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 16px;
    }

    p {
      max-width: 480px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 80px;
      color: #637381;
    }

    .notfound_text {
      width: 355px;
      margin-bottom: 80px;
    }

    a {
      color: $white-2;
      background: #212b36;
      padding: 11px 16px;
      text-decoration: none;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      border-radius: 8px;
    }
  }

  @media screen and (max-width: $mobileScreen) {
    .notfound_body {
      h2 {
        font-size: 25px;
      }

      p {
        width: 80%;
        font-size: 14px;
        margin-bottom: 25px;
      }

      .notfound_text {
        width: 340px;
        margin-bottom: 45px;
      }
    }
  }
}
